<h2>Trip Information for Leader</h2>
<%= form_tag '/orders', method: :put %>
<p>
	<table>
		<tr>
			<th>
				Name
			</th>
			<% @trip.destination_specific_activity.items.each do |item| %>
				<th>
					<%= item.name.capitalize.pluralize %>
				</th>
				
			<% end %>	
				<th>
					Amount due
				</th>
				<th>
					Paid?
				</th>
		</tr>		
				<%= hidden_field_tag :trip_id, @trip.id %>
				<% @trip.orders.each do |order| %>
					<tr>
						<td><%= order.user %></td>
						<% @trip.destination_specific_activity.items.each do |item| %>
							<td>
								<% order.line_items.each do |line_item| %>
									<%= line_item.quantity if line_item.item_id == item.id %>
								<% end %>
							</td>
						<% end %>
						<td>
							<%= number_to_currency(order.total_amount_due) %>
						</td>
						<td>
							<%= hidden_field_tag "orders[#{order.id}][paid]", '' %>
							<%= check_box_tag "orders[#{order.id}][paid]", true, order.paid %>
							<%#= hidden_field_tag 'orders[][id]', order.id %>
						</td>
					</tr>
				<% end %>
		<tr>
			<td>TOTALS</td>
			<% @trip.destination_specific_activity.items.each do |item| %>
				<td>
					<strong><%= @trip.item_count(item)%></strong>
				</td>
			<% end %>
			<td>
				<strong><%= number_to_currency(@trip.total_amount_due) %></strong>
			</td>
			<td><%= submit_tag 'Save as paid'%></td>
		</tr>
	</table>
	
</p>
</form>
<p>
	<%= link_to 'Publicize trip via email', email_publicize_path(@trip.id) %>
</p>
<p>	
	<%= link_to 'Send email to registered trip participants', email_participants_path(@trip.id) %>
</p>
