
<h2>Trip Information</h2>
<p>
  <b>Group:</b>
  <%= @trip.group %>
</p>

<p>
  <b> Activity:</b>
  <%= @trip.destination_specific_activity %>
</p>

<p>
  <b>Date:</b>
  <%= @trip.date %>
</p>

<p>
	<b>Destination:</b>
	<%= @trip.destination_specific_activity.destination.name %>
</p>

<p>
  <b>Leader:</b>
  <%= @trip.leader %>
</p>

<h2>Prices</h2>
<ul>
	<% @trip.destination_specific_activity.items.each do |item| %>
		<li><%= item. name + ': ' + number_to_currency(item.price) %></li>
	<% end %>
</ul>
<p>

<%= link_to 'Click here to sign up.', new_order_path(@trip.id) %>
<%# I created a custom named route to be able to include the trip_id in the url. This is not OOB functionality. %>
</p>
<%= link_to 'Edit', edit_trip_path(@trip) %> |
<%= link_to 'Back', trips_path %>
