<%= form_tag '/line_items', method: :put %>
<% if ! @errors.nil? && @errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @errors.each do |error| %>
	      <% error.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
      <% end %>
      
      </ul>
    </div>
<% end %>
  

  	<%= hidden_field_tag :order_id, @order.id %>	
	<% @line_items.each do |line_item| %>
		<%= hidden_field_tag "line_items[][id]", line_item.id %>
		<%= hidden_field_tag "line_items[][item_id]", line_item.item_id %>
	<div class="field">
		<%= label_tag line_item.name %>
		<%= text_field_tag "line_items[][quantity]", line_item.quantity, :size => 2 %>
		<%= ' @ ' + number_to_currency(line_item.price) + ' each' %>
	</div>	
	<% end %>
	<div class="actions">
		<%= submit_tag 'Submit' %>
	</div>
</form>