<%= form_tag '/line_items', method: :put %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  	<%= hidden_field_tag :trip_id, @trip.id %>
  	<%= hidden_field_tag :user_id, current_user.id %>	
	<% @line_items.each_with_index do |line_item, i| %>
		<%= hidden_field_tag "line_items[#{i}][id]", line_item.id %>
		<%= hidden_field_tag "line_items[#{i}][item_id]", line_item.item_id %>
		<div class="field">
			<%= label_tag line_item.name %>
			<%= text_field_tag "line_items[#{i}][quantity]", line_item.quantity, :size => 2 %>
			<%= ' @ ' + number_to_currency(line_item.price) + ' each' %>
		</div>	
	<% end %>
	<div class="actions">
		<%= submit_tag 'Submit' %>
	</div>
</form>