<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  	<%= f.hidden_field :trip_id, :value => @trip.id %>
  	<%= f.hidden_field :user_id, :value => current_user.id %>
	<% @items.each do |item| %>	
		<%= f.fields_for :line_items do |builder| %>
			<div class="field">
				<%= builder.hidden_field :item_id, :value => item.id %>
				<%= builder.label item.name %>
				<%= builder.text_field :quantity, size: 2 %>
				<%= ' @ ' + number_to_currency(item.price) + ' each'%>
			</div>
		<% end %>	
	<% end %>
	

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>