<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<%= f.fields_for :participant do |builder| %>
	<div class="field">
		<%= builder.hidden_field :trip_id, :value => @trip.id %>
	</div>
		<%= f.fields_for :person do |builder| %>
		<div class="field">
			<%= builder.label "First name" %>
			<%= builder.text_field :first_name %>
		</div>
		<div class="field">
			<%= builder.label "Last name" %>
			<%= builder.text_field :last_name %>
		</div>
		<div class="field">
			<%= builder.label "Email" %>
			<%= builder.text_field :email %>
		</div>
		<div class="field">
			<%= builder.label "Mobile phone" %>
			<%= builder.text_field :mobile_phone %>
		</div>
		<% end %>
	<% end %>
	
		<%= f.fields_for :line_items do |builder| %>
			<% @items.each do |item| %>
				<div class="field">
				<%= builder.label item.name %>
				<%= builder.text_field :quantity, size: 2 %>
				</div>
			<% end %>	
		<% end %>
	

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>