

<p>
	<%= @order.user %>
</p>
<p>
	<%= @order.trip %>
</p>
<p>
	<%= render "invoice_table" %>
</p>
<p>
	Total amout due: <%= number_to_currency(@order.total_amount_due) %>
</p>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
