

<p>
	<%= @order.user %>
</p>
<p>
	<%= @order.trip %>
</p>
<p>
	<table>
		<tr>
			<th>Item</th>
			<th>Quantity</th>
			<th>Item Price</th>
			<th>Extended Price</th>
		</tr>
		<% @order.line_items.each do |line_item| %>
			<tr>
				<td><%= line_item.item.name %></td>
				<td><%= line_item.quantity %></td>
				<td><%= number_to_currency(line_item.item.price) %></td>
				<td><%= number_to_currency(line_item.extended_price) %></td>
			</tr>
		<% end %>
	</table>
</p>
<p>
	Total amout due: <%= number_to_currency(@order.total_amount_due) %>
</p>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
